<style type="text/css">
  .eeptable .title {
    width: 67%;
  }

  .eeptable .author {
    width: 33%;
  }
</style>
{% for status in site.data.statuses %}
  {% assign eeps = include.eeps|where:"status",status|sort:"eep" %}
  {% assign count = eeps|size %}
  {% if count > 0 %}
    <h2>{{status}}</h2>
    <table class="eeptable">
      <thead>
        <tr><th class="eepnum">Number</th><th class="title">Title</th><th class="author">Author</th></tr>
      </thead>
      {% for page in eeps %}
        <tr>
          <td class="eepnum"><a href="{{page.url|relative_url}}">{{page.eep|xml_escape}}</a></td>
          <td class="title">{{page.title|xml_escape}}</td>
          <td class="author">{% include authorlist.html authors=page.author %}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endfor %}
